<html lang="en">
  <head>

    <title>Vefify Your Account </title>
  </head>
  <body>

    <h3>
      Verify Your account
    </h3>

    <p>
      Hi
      <b>{{name}}</b>
      , thanks for registering an account with us
    </p>

    <p>
      Please verify your account by clicking the link
      <b><a href="{{link}}"> Verify Your Account </a></b>
    </p>
    <p>
      Kimndly note that this link is vaslid for 15 minutes
    </p>
  </body>
</html>