<html lang="en">
  <head>

    <title>Reset Password success </title>
  </head>
  <body>

    <h3>
      Reset Password success
    </h3>

    <p>
      Hi
      <b>{{name}}</b>

    </p>

    <p>
      Your Password has been reset succesfully!

    </p>

  </body>
</html>